<!-- Enter Data to display a route:-->
<% form_tag :action => 'display_route' do %>

<!-- Data provided by http://rfinder.asalink.net/free/ -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  <script>
  function render_icao_airports( ul, item ) {
	      return $( "<li>" )
	        .append( "<b>" + item.label + " </b> / " + item.name + " <br/> "+ item.country + "</a>" )
	        .appendTo( ul );
	    };
  $(function() {
    $.getJSON('airports')
		.done(
			function (data) {
				
				var availableTags = data;
				console.log(data);
				$( "#ADES").autocomplete({
		      		source: availableTags
		    	}).autocomplete( "instance" )._renderItem = render_icao_airports;
		    	$( "#ADEP" ).autocomplete({
		      		source: availableTags
		    	}).autocomplete( "instance" )._renderItem = render_icao_airports;
			});
		});

  </script>
</head>
<body>
 
<div class="ui-widget">
	ADEP: <%= text_field_tag 'ADEP' %>
<p/>
	ADES: <%= text_field_tag 'ADES' %>

	<%= submit_tag 'find' %>
<% end %>
</div>
